<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalcapstone_nomapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/nom"
        android:label="Nom"
        android:roundIcon="@mipmap/nom_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalCapstone_NomApp">
        <activity
            android:name=".main.view.FirstActivity"
            android:exported="true" />
        <activity
            android:name=".main.identity.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".main.identity.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".main.view.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.view.MainActivity"
            android:exported="true"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>